.python{
  display: none;
  text-shadow: 2px 2px yellow;
}
.ruby{
  display: none;
  text-shadow: 2px 2px yellow;
}
.csharp{
  display: none;
  text-shadow: 2px 2px yellow;
}
body{
  background: radial-gradient(purple, pink);
  background-attachment: fixed;
}
.jumbotron{
  margin-top: 20px;
  background-color: grey;
  border-color: black;
}
.well{
  background-color: lightgrey;

}
.jumbotron h1{
  text-shadow: 2px 2px purple;
}
